#top-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	width: 600px;
	border-collapse: collapse;
	text-align: left;
}
body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	width: 800px;
	border-collapse: collapse;
	text-align: left;
}